@font-face {
    font-family: "Polentical Neon";
    src:
      local("Polentical Neon"),
      url("../font/Polentical\ Neon\ Regular.ttf")
}

@font-face {
    font-family: "Polentical Neon Bold";
    src:
      local("Polentical Neon Bold"),
      url("../Polentical\ Neon\ Bold.ttf")
}